@model Website.Models.Ton

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ton</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VatTu.TenVatTu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatTu.TenVatTu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLTon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.STT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
